<h2>Products</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Modify</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let product of products">
      <td>{{ product.productName }}</td>
      <td>{{ product.price }} $</td>
      <td>
        <mat-icon class="modify_img" (click)="openDialog(product)"
          >delete_forever</mat-icon
        >
      </td>
    </tr>
  </tbody>
</table>
<button (click)="openNewProductDialog('new')" type="button" class="add-btn">
  Add new product
</button>
