ul {
  height: 52px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li a {
  height: 52px;
  display: flex;
  justify-content: flex-end;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

li a:hover {
  background-color: green;
}
.loggedin{
  display: flex;
  justify-content: flex-end;
}