<header>
  <ul>
    <li *ngIf="!(loggedInUser)">
      <a href="#" routerLink="/login">
        <mat-icon>perm_identity</mat-icon>
      </a>
    <li>
      <a href="#">
        <mat-icon>house</mat-icon>
      </a>
    </li>

    <li class="loggedin" *ngIf="loggedInUser" ngbDropdown>
      <a href="#" routerLink="/admin" *ngIf="isAdmin">
        <mat-icon>admin_panel_settings</mat-icon>
      </a>
      <a href="#" routerLink="/profile">
        <mat-icon>person</mat-icon>
      </a>
      <a href="#" routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <div class="dropdown">
        <a href="#" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</header>