<div class="signup-form">
  <h1>Sign Up</h1>
  <div class="form">
    <div class="form-group">
      <input type="email" [(ngModel)]="email" />
      <label for="email">Email</label>
    </div>
    <div class="form-group">
      <input type="password" [(ngModel)]="password" />
      <label for="password">Password</label>
    </div>
    <div class="form-actions">
      <button (click)="signUp()">Sign Up</button>
      <button class="login" (click)="toLogin()">Log In</button>
    </div>
  </div>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
